@page
@model WebRZD.Views.Index.IndexModel
@{
    ViewBag.Title = "Home Page";
}
<div class="main-container">
    <section class="hero">
        <h1>Купите билеты на поезд онлайн</h1>
        <p>Быстрый и удобный способ купить билеты на поезд</p>
        <button>Купить билет</button>
    </section>
    <section class="features">
        <h2>Преимущества покупки билетов на нашем сайте</h2>
        <ul>
            <li>Быстрый и безопасный способ оплаты</li>
            <li>
                Возможность поменять билет, если что-то
                изменится
            </li>
            <li>
                Доступные формы оплаты: картой, банковским
                переводом, BLIK-кодом
            </li>
            <li>
                Мгновенная доставка билетов на электронную
                почту
            </li>
        </ul>
    </section>
</div>